/*INICIO - Desktop*/

.seccion-p{
    padding: 40px 0;
    font-family: $fuente-3;
    text-align: center;
    background-image: url(../img/index/pizza-imagen-principal.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .recuadro-principal{
        background-color: rgba(217,217,217,0.55);
        padding: 45px 0;
        .titulo-principal{
            color: map-get($colores, color-1);
            font-size: 80px;
            font-weight: 800;
            -webkit-text-stroke: 1px map-get($colores, color-2);
            text-shadow: -10px 10px 4px rgba(0,0,0,0.5);
        }
        .lista-principal{
            color: map-get($colores, color-2);
            font-size: 40px;
            font-weight: 800;
            -webkit-text-stroke: 1px map-get($colores, color-5);
            list-style-type: none;
            li{
                text-shadow: -5px 5px 4px rgba(0,0,0,0.5);
            }
        }
    }
}

.main{
    .caja-texto-index{
         @include flex(flex,row,center,center,wrap);
         @extend%borde-caja-general; 
         background-color: $color-3;
         font-family: $fuente-principal;
         font-size: 25px;
         text-align: center;
         height: 250px;
         width: 100%;
         margin: 30px 0;
         padding: 30px;
    }
    .caja-imagen-index{
        @include flex(flex,row,center,center,wrap);
        @extend%borde-caja-general; 
        background-color: $color-3;
        font-family: $fuente-principal;
        font-size: 25px;
        text-align: center;
        height: 250px;
        width: 100%;
        margin: 30px 0;
   }
}