/*VARIABLES*/

/*Colores*/
$color-1: #9A3B3B;
$color-2: #E2C799;
$color-3: #C08261;
$color-4: #ffffff;
$color-5: #000000;
$color-6: #f2ecbe;
$color-7: #a48a5e;

/*Tamaños de fuente*/
$tamano-titulo-desktop: 40px;
$tamano-titulo-movil: 30px;
$tamano-p-principales-d: 32px;
$tamano-p-principales-m: 20px;
$tamano-a-header-d: 20px;
$tamano-a-header-m: 10px;
$tamano-fuente-formulario-d: 22px;
$tamano-fuente-formulario-m: 16px;

/*Tipos de fuente*/
$fuente-principal: 'Mochiy Pop One', sans-serif;
$fuente-secundaria: 'Josefin Sans', sans-serif;
$fuente-3: 'Exo' , sans-serif;
$fuente-4: 'BenchNine' , sans-serif;
$fuente-5: 'Actor', sans-serif; 

/*Padding*/
$padding-main: 35px 0;
$padding-formulario: 35px;
$padding-seccion-b: 50px 0 75px 0;